name: ci
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install dependencies
        run: yarn install

      - name: Linting
        run: yarn lint

      - name: Typecheck
        run: yarn typecheck

      - name: Prettier check
        run: yarn prettier:check

      - name: Test
        run: yarn test

      - name: Build
        run: yarn build
